.tables {
    border: rgb(125, 106, 79) solid calc(1px * var(--zoom));
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    background-color: rgb(14, 12, 12);
    max-width: fit-content;
    overflow-y: scroll;
    height: calc(100vh - 70px);
    margin: 20px auto;
}

.tables::-webkit-scrollbar {
    width: 24px;
    height: 24px;
}

.tables::-webkit-scrollbar-track {
    background-color: transparent;
    border: solid 3px transparent;
}

.tables::-webkit-scrollbar-thumb {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px rgb(77, 77, 77);
    border: solid 2px transparent;
}

.tables::-webkit-scrollbar-corner {
    background-color: transparent;
}