:root {
    --zoom: 3;
    --font-color: rgb(194, 194, 194);
    --font-color-muted: rgb(91, 91, 91);
}

@media screen and (max-width: 1690px) {
    :root {
        --zoom: 2;
    }
}

body {
    margin: 0;
    background-color: rgb(6, 6, 6);
    font-family: 'NoitaPixel', serif;
    -webkit-font-smoothing: none;
    image-rendering: pixelated;
    cursor: crosshair;
    color: var(--font-color-muted);
    overflow: hidden;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

@font-face {
    font-family: 'NoitaPixel';
    src: local('NoitaPixel'), url('./fonts/NoitaPixel.ttf') format('truetype');
}
